<!DOCTYPE html>
<html lang="en">

<head>
  <div id="cabecera"></div>
  <link rel="stylesheet" href="_assets/css/estilos.css">
</head>

<body class="  ">

  <section class="wrapper">
    
    <nav id="menu"></nav>

    <div class="content-page">

      
      <div class="container">
        <h1>Bienvenido al sistema de P&T Detallitos</h1>
        
      </div>
      
    </div>


    <footer id="piePagina" class="iq-footer" ></footer>
    
  </section> <!-- Wrapper End -->


  <script src="_assets/js/script2.js"></script> <!-- este muestra como poner los datos en objetos -->
  
  <!-- JAVASCRIPTS --------------------------------------------------------------------> 
  <!-- Para ingresar todos los datos de templates -->
  <script src="_assets/js/templates.js"></script> <!-- este es para los templates -->
  <!-- Backend Bundle JavaScript -->
  <script src="_assets/js/plantilla/backend-bundle.min.js"></script>
  <!-- Table Treeview JavaScript -->
  <script src="_assets/js/plantilla/table-treeview.js"></script>
  <!-- app JavaScript -->
  <script src="_assets/js/plantilla/app.js"></script>

</body>

</html>