
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>P&T Detallitos | Pasamanería </title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="_assets/images/favicon.ico" />
  <link rel="stylesheet" href="_assets/css/plantilla/backend-plugin.min.css">
  <link rel="stylesheet" href="_assets/css/plantilla/backend.css?v=1.0.0">
  <link rel="stylesheet" href="_assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="_assets/vendor/line-awesome/line-awesome.min.css">
  <link rel="stylesheet" href="_assets/vendor/remixicon/fonts/remixicon.css">  

  